:host{
  flex:1;
  display: flex;
  margin:0;
  padding: 0;
}
.container
{

  margin: auto;
  margin-top: 100px;
  width:400px;
  
  display: flex;
  flex-direction: column;
}
.signup-card
{
  flex:1;
}
.signup-button
{
  margin-top: 20px;
}
.connect-button
{
  margin-top: 20px;
}
.form
{
  flex:1;
  display: flex;
  margin:0;
  padding: 0;
  flex-direction: column;
}
.error-container
{
  min-height: 24px;
}
