:host{
  flex:1;
  display: flex;
  margin:0;
  padding: 0;
}
.container
{

  margin: auto;
  margin-top: 150px;
  width:400px;
  height:300px;
  display: flex;
  flex-direction: column;
}
.login-card
{
  flex:1;
}
.title
{
  margin-left: 10px;
}
